.container {
  display: flex;
  gap: 64px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
}

.sidebar {
  width: 360px;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadMore {
  margin-top: 40px;
  padding: 16px 32px;
  background: transparent;
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s;
}

.loadMore:hover {
  border-color: #E44848;
}