.container {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
}

/* --- Секція Локації --- */
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 16px;
  color: rgba(16, 24, 40, 0.6);
  font-weight: 500;
}

.locationWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.locationIcon {
  position: absolute;
  left: 18px;
  color: var(--text-dark);
  font-size: 18px;
}

.input {
  width: 100%;
  padding: 18px 18px 18px 44px; /* Відступ зліва для іконки */
  background-color: var(--bg-light);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: var(--text-dark);
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border: 1px solid var(--text-gray);
}

/* --- Секції Фільтрів --- */
.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.groupTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-dark);
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin: 0;
}

.filterSubtitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-gray);
  margin-bottom: 8px;
}

/* --- Сітка Іконок (3 колонки) --- */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 10px;
}

.filterBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 95px;
  background-color: var(--white);
  border: 1px solid rgba(16, 24, 40, 0.1);
  border-radius: 12px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  padding: 10px;
}

.filterBtn:hover {
  border-color: var(--main-color);
}

.filterBtnActive {
  border-color: var(--main-color) !important;
}

.icon {
  font-size: 32px;
  color: var(--text-dark);
}

.btnText {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
}

/* --- Кнопка Пошуку --- */
.searchBtn {
  padding: 16px 60px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.searchBtn:hover {
  background-color: var(--hover-color);
}

.filterBtn {
  border: 1px solid rgba(16, 24, 40, 0.1);
  background: white;
  transition: border-color 0.3s ease;
}

/* Колір рамки при натисканні */
.filterBtnActive {
  border-color: var(--main-color) !important; /* Наприклад, червоний */
}