.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 24px 0;
}

.gallery img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin-bottom: 44px;
}

.tab, .activeTab {
  background: none;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
}

.detailsWrapper {
  display: flex;
  gap: 64px;
}

.infoContent {
  flex: 1;
}