.header {
  padding: 24px 64px;
  background-color: #F7F7F7;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo { font-weight: 700; font-size: 24px; }
.logo span { color: var(--main-color); }
.links { display: flex; gap: 32px; }
.link { font-weight: 500; font-size: 16px; }
.active { color: var(--main-color); }