.card {
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;
}

.form input, .form textarea {
  padding: 18px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 10px;
}

.submitBtn {
  background-color: #E44848;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
}