.card { padding: 24px; border: 1px solid rgba(16, 24, 40, 0.2); border-radius: 10px; }
.title { font-size: 20px; font-weight: 600; margin-bottom: 8px; }
.sub { color: #475467; font-size: 16px; margin-bottom: 24px; }
.form { display: flex; flex-direction: column; gap: 14px; }
.form input, .form textarea {
  padding: 18px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.btn {
  background-color: #E44848;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}