.container {
  width: 448px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.1);
  border-radius: 10px;
  height: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;
}

.form input, .form textarea {
  padding: 18px;
  background-color: var(--bg-light);
  border-radius: 12px;
  border: none;
}

.form textarea {
  height: 114px;
  resize: none;
}

.form button {
  padding: 16px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 200px;
  margin-top: 24px;
}