.section {
  padding: 40px 0 80px;
  background-color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}


.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 8px;
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.rating {
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 4px;
}

.starIcon {
  color: #ffc531;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 24px;
}


.gallery {
  display: inline;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0 0 28px 0;
  overflow-x: auto;
}

.galleryItem {
  flex-shrink: 0;
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 44px;
  max-width: 100%;
}


.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
  margin-bottom: 44px;
}

.tab, .activeTab {
  padding: 24px 0;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #101828;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e44848;
}


.bottomContent {
  display: flex;
  gap: 64px;
  align-items: flex-start;
}

.tabPanel {
  flex: 1; 
}

.bookingForm {
  width: 448px; 
  flex-shrink: 0;
  position: sticky; 
  top: 20px;
}