.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
}
.image { width: 290px; height: 310px; object-fit: cover; border-radius: 10px; }
.content { flex: 1; }
.header { display: flex; justify-content: space-between; margin-bottom: 8px; }
.priceBox { display: flex; align-items: center; gap: 10px; font-weight: 600; font-size: 24px; }
.favBtn { background: none; border: none; cursor: pointer; }
.heart { color: #101828; }
.heartActive { color: #E44848; }
.mainBtn {
  background: #E44848;
  color: white;
  padding: 16px 40px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  margin-top: 24px;
}