:root {
  --main-color: #E44848;   /* Червоний */
  --text-dark: #101828;   /* Майже чорний */
  --text-gray: #475467;   /* Сірий */
  --bg-light: #F2F4F7;    /* Світлий фон */
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-dark);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}