:root {
  --main-color: #E44848;   
  --text-dark: #101828;   
  --text-gray: #475467;   
  --bg-light: #F2F4F7;    
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-dark);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}