.hero {
  height: calc(100vh - 72px);
  background: linear-gradient(rgba(16, 24, 40, 0.4), rgba(16, 24, 40, 0.4)),
    url("/path-to-your-hero-image.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 64px;
}

.content {
  max-width: 600px;
  color: var(--white);
}

.content h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.btn {
  padding: 16px 48px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
}

.btn:hover {
  background-color: var(--hover-color);
}